<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/">
          <img src="https://cdn.discordapp.com/attachments/804857234445959238/831274747957870682/gemgray.png" width="50"
           height="50" alt="Logo">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  </div>
</nav>
<!-- End of Navbar -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
</head>
<body>
  <div class="container">
      <h2> Welcome <%= name %></h2>
    <h1 class="mb-4">SPOTLIVE Players</h1>
    <a href="/players/new" class="btn btn-success">New Player</a>

    <% players.forEach(player => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title"><%= player.title %></h4>
          <div class="card-subtitle text-muted mb-2">
            <%= player.createdAt.toLocaleDateString() %>
          </div>
          
<% if(player.title.toUpperCase() === "TWITCH"){ %>
<!-- embed twitch player-->
<script src= "https://player.twitch.tv/js/embed/v1.js"></script>
<div id='testplayer_<%= player.description %>'></div>
<script type="text/javascript">
  
  var channelX = '<%= player.description %>';
  
  var options = {
    width: 960,
    height: 540,
    channel: channelX
  };
  var player = new Twitch.Player('testplayer_<%= player.description %>', options);
  player.setVolume(0.5);
</script>
<!-- embed youtube player-->
<% } else  if(player.title.toUpperCase() === "YOUTUBE"){ %>
  <iframe width="960" height="540" src='<%= player.description %>' 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!-- embed facebook player-->
<% } else  if(player.title.toUpperCase() === "FACEBOOK"){ %>
  <iframe src='<%= player.description %>' width="267" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
  <!-- embed any other player-->
<% } else { %>
  <iframe src='<%= player.description %>' width="960" height="540" allowfullscreen="true"></iframe>
  <% } %>
          <div class="card-text mb-2"><%= player.description %></div>
          <a href="players/<%= player.slug %>" class="btn btn-primary">Read More</a>
          <a href="players/edit/<%= player.id %>" class="btn btn-info">Edit</a>
          <form action="/players/<%= player.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
          
        </div>
      </div>
    <% }) %>
    <form action="/logout?_method=DELETE" method='POST'>
        <button type="submit">Log Out</button>
      </form>
  </div>
</body>
</html>